body
  font-size: 1.4em

.buttons
  margin-top: 1em
  float: right

.group

  border-bottom: 1px dotted blue
  min-height: 8em
  padding-top: .5em

.groupName
  font-weight: bold

.groupsArea
  margin-top: 2em

.potsArea
  background-color: #f3f3f7

.potsArea h3
  text-align: center

li.team
  font-size: smaller
  padding: 0.1em 0em

li.team img
  padding: 0em 0.5em

.teamName
  height: 2.2em

.teamsInPot .team
  list-style-type: none

ul.teamsInPot
  padding-left: 0
